body {
background-color:white;
margin:0;
padding:0;
font-family: 'Open Sans', sans-serif;
}

.midtstill {
margin:auto;
position:relative;
width:960px;

}

header h1 {
margin-top:0;
padding-top:10px;
color:white;
}

header {
background-color:red;
margin:0;
padding:0;
position:relative;
height:70px;
}



#wrapper {
height:100%;
background-color:White;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-top:5px;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

ul a:link, ul a:visited {
    display: block;
    width: 200px;
    font-weight: bold;
    color: black;
    background-color: #d3d3d3;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

ul a:hover,ul a:active {
    background-color: red;
}

.artikkelLink {
display:block;
color:black;
text-decoration: none;
}

.artikkelOversikt {
width:400px;
position:relative;
float:left;
margin-top:20px;
margin-right:20px;
}

.artikkelbilde {
    position:relative;
width:400px;
height:300px;
}

#rediger-nyheter-table{
    width:100%;
    border-collapse: collapse;
    
}

#rediger-nyheter-table td, #rediger-nyheter-table th{
    padding: 0.5rem;
}

#rediger-nyheter-table-content:nth-child(odd){
    background-color:#D3D3D3;
}

.nyhets-id{
    width:3%;
}
.nyhets-tittel{
    width:15%;
}
.nyhets-tekst{
    width:70%;
}

/* LOGIN STYLE */
.login{
    padding:10px;
    margin-top:10px;
}

.login input[type="submit"]{
    margin-top:20px;
}

/* REDIGER NYHET STYLE */

#rediger-tittel, #rediger-tekst, #artikkelTekst{
    padding:10px;
}

#artikkelTekst{
    height:200px;
    width:100%;
}

#rediger-tekst{
    width:60%;
    height:200px;
}

.tilbakemelding{
    padding:10px;
    border-radius:5px;
    text-align:center; 
}