@model NyheterApp.Models.Forfatter
@{
    ViewBag.Title = "Logg inn";
}

<h2>LogIn</h2>

<p> For å få tilgang til denne siden må du være registrert forfatter</p>


@using (Html.BeginForm())
{
    @Html.TextBoxFor(bruker => bruker.Brukernavn, new { @class = "login", placeholder = "Brukernavn" })<br />
    @Html.PasswordFor(bruker => bruker.Passord, new { @class ="login", placeholder = "Passord" }) <br />
    <input type="submit" value="Logg inn" />
}

<p class="tilbakemelding">@ViewBag.innlogging</p>

@if (ViewBag.feilKobleTilDatabaseInnlogging != null)
{
    <p class="tilbakemelding-feil">@ViewBag.feilKobleTilDatabaseInnlogging</p>
}
