@model NyheterApp.Models.Forfatter
@{
    ViewBag.Title = "Logg inn";
}

<h2>LogIn</h2>


@using (Html.BeginForm())
{
    <label>Brukernavn:</label>
    @Html.TextBoxFor(bruker => bruker.Brukernavn)<br />
    <label>Passord:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </label>
    @Html.PasswordFor(bruker => bruker.Passord) <br />
    <input type="submit" value="Logg inn" />
}

<p>@ViewBag.innlogging</p>
<p>@ViewBag.feilKobleTilDatabaseInnlogging</p>