@model NyheterApp.Models.Nyhet

@{
    ViewBag.Title = "SlettNyhet";
}

<h2>SlettNyhet</h2>


@using (Html.BeginForm())
{

    <table>
       
    </table>

    <input type="submit" value="Slett" />

}
