@model IEnumerable<NyheterApp.Models.New>
 

    @{
        ViewBag.Title = "VisAlleNyheter";
    }

    <h2>Alle nyheter</h2>


    @if (Model != null && Model.Count() > 0)
    {

        foreach (var news in Model)
        {
            <article class="artikkelOversikt">
                <h3>@news.Tittel</h3>
                <img src="~/Content/Bilder/@news.BildeSrc" />
                @Html.ActionLink("Les mer", "VisEnNyhet", new { id = @news.Id })
            </article>
        }
    }
    else
    {
        <p>Ingen nyhetsartikler er skrevet enda</p>
    }
