@{
    ViewBag.Title = "VisEnNyhet";
}

<article>
    <h1>@ViewBag.ValgtArtikkelTittel </h1>
    <p>(Publisert: @ViewBag.ValgtArtikkelDato )</p>
    <img class="artikkelbilde" src="~/Content/Bilder/@ViewBag.ValgtArtikkelBilde" />
    <p>@ViewBag.ValgtArtikkelTekst</p>   

</article>
    
