@model NyheterApp.Models.Nyhet

@{
    ViewBag.Title = "VisEnNyhet";
}

<article>
    <h1>@Model.Tittel </h1>
    <p>(Publisert: @Model.DatoPostet )</p>
    <img class="artikkelbilde" src="~/Content/Bilder/@Model.BildeSrc" />
    <p>@Model.Tekst</p>   

</article>
    
@if (ViewBag.feilVisEnNyhet != null)
{
    <h3>@ViewBag.feilVisEnNyhet</h3>
}