@model IEnumerable<NyheterApp.Models.New>

@{
    ViewBag.Title = "VisEnNyhet";
}

<h2>VisEnNyhet</h2>




        <article>
            <h3>@New.Tittel</h3>
            <p>@New.Tekst</p>

            <img src="~/Content/Bilder/@New.BildeSrc" />
        </article>
    
