@model IEnumerable<NyheterApp.Models.New>

@{
    ViewBag.Title = "VisEnNyhet";
}

<h2>Vis En Nyhet</h2>
@if (Model != null && Model.Count() > 0)
{
    foreach (var news in Model)
    {
        <article>
            <h3>@news.Tittel</h3>
        </article>
    }
}
else
{
    <p>no articles</p>
}


    
